<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=restaurant.name%></title>
</head>
<%- include('./partials/nav') %>

<body>
  <h1>Home Page</h1>
  <!-- restaurant sent to home.ejs -->
<%= restaurant.name %> 
  <!-- restaurant  phone sent to home.ejs -->
<%= restaurant.phone %>
  <!-- restaurant address sent to home.ejs -->
<%=restaurant.address%>
<!-- Level Up  -->
<% if ( restaurant.isOpen) { %>
    <p> <%='Yes we are open!' %><p>
    <% } else { %>
     <p><%="Sorry, we are closed" %></p>
<% } %>

<!--   Full Menu -->




</body>
</html>
